body {
    color: black;
}
img {
    border-radius: 10px;
}

h1 {
    font-style: oblique;
    color: blue;
}
.container {
    background-color:whitesmoke;
    color: burlywood;
    border-radius: 20px;
    border-style: dotted;
}

