body {
    color: black;
}
img {
    border-radius: 10px;
}

h1 {
    font-style: oblique;
    color: blue;
}
.container {
    background-color:whitesmoke;
    color: rgb(218, 183, 235);
    border-radius: 10px;
    border-style: double;
    width: 50px;
}

