* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    font-
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    color: red;
} 